.upload_item {
    cursor: pointer;
    border: 1px dashed #cdcdcd;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100px
}
.upload_item:hover{
    border-color: #216bc4;
}
.table thead.bg-green-lt th{
    color: #5eba00!important
}

.table thead.bg-azure-lt th{
    color: #4299e1!important
}