{% extends 'base.html.twig' %}
{% block title %}
    编辑商品标签-{{ productTag.label }}
{% endblock %}
{% block page_title %}
    编辑商品标签
{% endblock %}

{% block body %}
    <form action="" class="card" enctype="multipart/form-data" method="post">
        <div class="card-header">编辑</div>
        <div class="card-body">
            <div class="col-xl-4" style="margin: 0 auto">
                <div class="mb-3">
                    <label class="form-label required" for="">Title</label>
                    <div class="form-widget">
                        <input type="text" name="label" required="required" value="{{ productTag.label }}" class="form-control">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for=""></label>
                    <div class="form-widget">
                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                    </div>
                </div>
            </div>
        </div>


    </form>
{% endblock %}

{% block javascripts %}
{% endblock %}