{% extends 'base.html.twig' %}
{% block page_title %}
    账号详情
{% endblock %}
{% block title %}
    账号详情
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ user.email }}</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6 mx-auto">
                    <div class="list list-row list-hoverable">
                        <div class="list-item">
                            <div class="mr-2">Email：</div>
                            <span class="text-body d-block">{{ user.email }}</span>
                        </div>
                    </div>
                    <div class="list list-row list-hoverable">
                        <div class="list-item">
                            <div class="mr-2">Roles：</div>
                            <span class="text-body d-block">{{ user.roles|join(' ') }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}